In [1]:
import pandas
from pandas import DataFrame
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# 1. Print masing masing kolom
data = pandas.read_csv("irisarray.csv")
#data.iloc[:,[0, 1, 2, 3, 4]]

     5.1  3.5  1.4  0.2  1
0    4.9  3.0  1.4  0.2  1
1    4.7  3.2  1.3  0.2  1
2    4.6  3.1  1.5  0.2  1
3    5.0  3.6  1.4  0.2  1
4    5.4  3.9  1.7  0.4  1
..   ...  ...  ...  ... ..
144  6.7  3.0  5.2  2.3  3
145  6.3  2.5  5.0  1.9  3
146  6.5  3.0  5.2  2.0  3
147  6.2  3.4  5.4  2.3  3
148  5.9  3.0  5.1  1.8  3

[149 rows x 5 columns]

In [3]:
# 2. Print baris pertama dan terakhir
#data.iloc[[0, -1]]

In [4]:
# 3. Print 10 baris pertama
#data.head(10)

In [5]:
# 4. Print 100 baris terakhir
#data.tail(100)

In [6]:
# 5. Hapus 10 baris pertama
#data.iloc[10:]

In [7]:
# 6. Hapus kolom terakhir
#data.iloc[:-1]

In [19]:
# 7. Hitung rata-rata setiap kolom
#data.mean()
#data.describe()

sum_data = 0
for i in data:
    sum_data += i
mean = sum_data / len(data)
print(mean)

[5.84832215 3.05100671 3.77449664 1.20536913 2.00671141]

In [13]:
# 8. Hitung jarak euclidean antara data pertama dengan data terakhir
#data = np.array(data)
#distance = np.linalg.norm(data[0,:] - data[-1,:])
#print("Euclidean distance: ", distance)

from math import sqrt

def euclideandistance(point1, point2):
    distance = 0
    for i in range(len(point1)):
        distance += (point1[i] -  point2[i])**2
    return sqrt(distance)

fdata = data[0]
ldata = data[-1]
jarak = euclideandistance(fdata, ldata)
print("Jara data pertama dengan data terakhir: ", jarak)

Jara data pertama dengan data terakhir:  4.6097722286464435

In [17]:
# 9. Hitung jarak Euclidean antara data pertama dengan seluruh data lainnya

# distance1 = np.linalg.norm(data - data[0,:], axis=1)
# print("Euclidean distances: ", distance1)

data_pertama = [0]
jarak_euclidean = []
for i in range(1, len(data)):
    jarak_euclidean.append(euclideandistance(data_pertama, data[i]))
print("Jara Euclidean antara data pertama dan seluruh data lainnya adalah: ", jarak_euclidean)

Jara Euclidean antara data pertama dan seluruh data lainnya adalah:  [4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4, 4.8, 4.8, 4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5.0, 5.0, 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5.0, 5.5, 4.9, 4.4, 5.1, 5.0, 4.5, 4.4, 5.0, 5.1, 4.8, 5.1, 4.6, 5.3, 5.0, 7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5.0, 5.9, 6.0, 6.1, 5.6, 6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7, 6.0, 5.7, 5.5, 5.5, 5.8, 6.0, 5.4, 6.0, 6.7, 6.3, 5.6, 5.5, 5.5, 6.1, 5.8, 5.0, 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5, 7.7, 7.7, 6.0, 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2, 7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6.0, 6.9, 6.7, 6.9, 5.8, 6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9]

In [18]:
# 10. Ambil 20% data dari dataset, lalu salin ke dalam sebuah list
num_rows = int(0.2 * data.shape[0])
selected_data = data[:num_rows,:]
selected_data = selected_data.tolist()
print("Selected data:", selected_data)

Selected data: [[4.9, 3.0, 1.4, 0.2, 1.0], [4.7, 3.2, 1.3, 0.2, 1.0], [4.6, 3.1, 1.5, 0.2, 1.0], [5.0, 3.6, 1.4, 0.2, 1.0], [5.4, 3.9, 1.7, 0.4, 1.0], [4.6, 3.4, 1.4, 0.3, 1.0], [5.0, 3.4, 1.5, 0.2, 1.0], [4.4, 2.9, 1.4, 0.2, 1.0], [4.9, 3.1, 1.5, 0.1, 1.0], [5.4, 3.7, 1.5, 0.2, 1.0], [4.8, 3.4, 1.6, 0.2, 1.0], [4.8, 3.0, 1.4, 0.1, 1.0], [4.3, 3.0, 1.1, 0.1, 1.0], [5.8, 4.0, 1.2, 0.2, 1.0], [5.7, 4.4, 1.5, 0.4, 1.0], [5.4, 3.9, 1.3, 0.4, 1.0], [5.1, 3.5, 1.4, 0.3, 1.0], [5.7, 3.8, 1.7, 0.3, 1.0], [5.1, 3.8, 1.5, 0.3, 1.0], [5.4, 3.4, 1.7, 0.2, 1.0], [5.1, 3.7, 1.5, 0.4, 1.0], [4.6, 3.6, 1.0, 0.2, 1.0], [5.1, 3.3, 1.7, 0.5, 1.0], [4.8, 3.4, 1.9, 0.2, 1.0], [5.0, 3.0, 1.6, 0.2, 1.0], [5.0, 3.4, 1.6, 0.4, 1.0], [5.2, 3.5, 1.5, 0.2, 1.0], [5.2, 3.4, 1.4, 0.2, 1.0], [4.7, 3.2, 1.6, 0.2, 1.0]]